/*
Color code
 #252525
 #FF0000
 #AF0404
 #414141
 */


/* gobals */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid #414141;
    width: 100%;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #252525;
    color: #ffff;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    color: #af0404;
}

a:link {
    color: #ffff;
}

a:active {
    color: #ff0000;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    line-height: 1.5;
    color: #ff0000;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 30px;
}


/* navbar */

.navbar {
    min-width: 100%;
    background-color: #414141;
}

.navbar .container {
    padding: 15px 0;
}

.nav li {
    margin: 5px 8px;
    padding: 5px 10px;
    background-color: #252525;
    border-radius: 4px;
}

.nav li:hover {
    color: #af0404;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
}


/* main landing page */

header .container {
    height: 951px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ff0000; */
}


/* Hi im adan box */

.container .info {
    width: 250px;
    height: 250px;
    transition: width 1s, height 1s;
    text-align: center;
}

.container .info:hover {
    height: 500px;
    width: 400px;
    background: #414141;
    text-align: center;
    background-image: url("../images/adan.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}


/* Information Page */

.info-wrapper {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 5%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    /* border: 1px solid #ff0000; */
}


/* web dev info */

.box-one {
    /* width: 50%; */
    margin-right: 5%;
    /* border: 1px solid #ff0000; */
}


/* Logo */

.mrhqlogo {
    width: 50%;
    height: 50%;
    /* border: 1px solid #ff0000; */
}


/* languages info */

.boxes-container {
    display: flex;
    
    margin-top: 3%;
    /* border: 1px solid #ff0000; */
    margin-bottom: 15%;
}


/* languages boxes */

.box1,
.box2,
.box3 {
    flex:1;
    background-color: #414141;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 20px;
    text-align: justify;
}


/* Work exp */

.work-exp {
    margin: 5% auto;
}

.flex-header {
    display: flex;
    /* border: 1px solid #ff0000; */
    justify-content: start;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 5%;
}

.title {
    font-size: 1.6rem;
    margin-top: 2%;
    font-weight: bold;
}

.flex-parent-nzm {
    max-width: 95%;
    margin: 0 auto;
    padding: 5%;
    margin-top: 1%;
    /* border: 1px solid #ff0000; */
    display: flex;
}

.work-exp-nzm {
    justify-content: center;
    align-items: center;
}

.work-exp-nzm p {
    text-align: justify;
}

.nzmusclelogo {
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    background-color: #414141;
    border: none;
    border-radius: 4px;
}

.flex-parent-tinz {
    display: flex;
    flex-direction: row-reverse;
    max-width: 95%;
    margin: 0 auto;
    padding: 5%;
    /* border: 1px solid #ff0000; */
}

.work-exp-tinz {
    align-self: center;
    align-content: center;
}

.work-exp-tinz p {
    text-align: justify;
}

.tinzlogo {
    margin-right: 5%;
    align-self: center;
    align-content: center;
    padding: 15px;
    background-color: #ffff;
    border: none;
    border-radius: 4px;
}


/* Form */


/* Left Side */

#contact {
    display: flex;
    /* border: 1px solid #ff0000; */
}


/* contact side */

.left-side {
    background: #414141;
    flex: 50%;
}


/* return home button */

button[type="button"] {
    margin-top: 5%;
    margin-right: 5%;
    background-color: #252525;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

button[type="button"]:hover {
    color: #af0404;
}

.container-contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: right;
    /* border: 1px solid #ff0000; */
}

.contact {
    margin-right: 5%;
    min-width: 2rem;
    /* border: 1px solid #ff0000; */
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}


/* email */

.email {
    padding-top: 8%;
    margin-right: 5%;
    /* border: 1px solid #ff0000; */
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}


/* phone number */

.phone {
    padding-top: 8%;
    margin-right: 5%;
    /* border: 1px solid #ff0000; */
    position: relative;
    animation-name: myanimation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 2s;
}


/* socials */

.socials {
    padding-bottom: 1%;
    padding-top: 8%;
    margin-right: 5%;
    /* border: 1px solid #ff0000; */
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 3s;
}


/* FA icons */

.icons {
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-right: 5%;
}


/* facebook */

.fb {
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 3s;
}


/* instagram */

.insta {
    position: relative;
    animation-name: myanimation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 2s;
}


/* linkedin */

.link {
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}


/* twitter */

.tw {
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


/* animation left side */


@keyframes myanimation {
    0% {
        right: 100%;
        top: 0;
    }
    25% {
        right: 75%;
        top: 0;
    }
    50% {
        right: 50%;
        top: 0;
    }
    75% {
        right: 25%;
        top: 0;
    }
    100% {
        right: 0;
        top: 0;
    }
}


/* gobal icons */

.fa {
    margin-left: 20px;
    color: #ffff;
}

.fa:hover {
    color: #af0404;
}


/* Right Side */

form {
    flex: 50%;
}


/* form positioning */

.right-side {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h2 {
    margin-bottom: 3%;
}


/* form styling */

div .form-container {
    position: relative;
    animation-name: myanimationright;
    animation-duration: 5s;
    animation-timing-function: linear;
    background-color: #414141;
    padding: 5%;
    border: none;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button[type="submit"] {
    background-color: #252525;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message button[type="submit"]:hover {
    color: #af0404;
}


/* form animation */


@keyframes myanimationright {
    0% {
        left: 100%;
        top: 0;
    }
    25% {
        left: 75%;
        top: 0;
    }
    50% {
        left: 50%;
        top: 0;
    }
    75% {
        left: 25%;
        top: 0;
    }
    100% {
        left: 0;
        top: 0;
    }
}


/* screen sizing - small */

@media screen and (max-width: 767px) {
    /* filler */
    .nav{
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        text-align: center;
    }
    .mrhqlogo {
        height: auto;
        width: 65%;
        margin-bottom: 8%;
        padding: 5px 10px;
    }
    .flex-container {
        flex-direction: column-reverse;
    }
    .flex-container p {
        text-align: justify;
    }
    .boxes-container {
        flex-direction: column;
    }
    .boxes-container p {
        text-align: justify;
    }
    .box1,
    .box2,
    .box3 {
        margin-top: 5%;
    }
    .container-contact {
        height: 40%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .flex-header {
        flex-direction: column;
    }
    .flex-parent-nzm {
        flex-direction: column;
    }
    .work-exp-nzm,
    .work-exp-tinz {
        background-color: #414141;
        padding: 5px 10px;
        border-radius: 4px;
        margin-right: 20px;
    }
    .nzmusclelogo {
        width: auto;
        align-self: center;
        padding: 0;
        margin-top: 4%;
        margin-left: 0;
        background-color: #252525;
    }
    .flex-parent-tinz {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* .flex-parent-tinz p {
        text-align: justify;
    } */
    .tinzlogo {
        width: auto;
        margin-top: 5%;
    }
    .left-side {
        flex: 0;
    }
    .form-container {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .right-side {
        height: 40%;
        flex: 0;
    }
    #contact {
        display: initial;
    }
}


/* screen sizing med */

@media screen and (min-width: 768px) and (max-width: 899px) {
    .container-contact {
        height: 40%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .left-side {
        flex: 0;
    }
    .form-container {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .right-side {
        height: 40%;
        flex: 0;
    }
    #contact {
        display: initial;
    }
}
